body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.drivebar {
	display: inline-block;
	border: none;
	margin-left: 0;
	background-color: yellow;
}

.drivebar li {
	display: inline-block;
}

.hometeam {
	background-color: #003366;
}

.field {
	width: 800px;
}

.fieldSub {
	position: absolute;
	top: 100px;
	z-index: 50;
}

.fieldContainer {
	position: relative;
}

.gridiron {
	background-color: #006600;
	width: 1000px;
	height: 1000px;
	border: solid 1px #ffffff;
	clear: both;
	position: absolute;
	top: 100px;
}

.gridline {
	height: 100%;
	width: 100px;
	border-right: solid 1px #ffffff;
	color: #ffffff;
	float: left;
	text-align: right;
	font-family: Allerta Stencil;
}

.endzone {
	background-color: #cccccc;
	color: #000000;
}

.flipYxxxxx {
	transform: rotateY(180deg);
}